# Files
.* 
*~

*.class
*.graph
*.ptn
*.met
*.svg

.classpath

!.gitignore 

!add20-IN-BAL.2.ptn
!add20-IN-RAND.2.ptn
!add20-OUT-BEST.2.ptn
!test-DiDiC-IN-BAL.2.ptn
!test-DiDiC-OUT-BEST.2.ptn

!test-DiDiC.graph
!add20.graph

# Directories
target/
var/
